.read-text .read-left {
  text-align: left;
}

.read-text .list-plain {
  list-style-type: none;
}

.image-adjust .nudge {
  margin-right: 50px;
}

.summary .sub {
  text-align: left;
  font-size: 0.9em;
}

.summary .image-container {
  display: flex;
  justify-content: space-around;
}

.summary img {
  // undoing reveal.js 95% to make image caption align perfectly with image
  max-width: 100%;
}

.summary .caption {
  margin: 0;
  text-align: left;
  font-size: 0.8em;
}

.tags .tag {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.tags .vigilance {
  background: #e66565;
}

.tags .insight {
  background: #9972e8;
}

.tags .mundane {
  background: #59b377;
}

.ref .ref-list {
  list-style: none;
}
