.read-text .read-left {
  text-align: left;
}

.read-text .list-plain {
  list-style-type: none;
}

.image-adjust .nudge {
  margin-right: 50px;
}

.tags .tag {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.tags .vigilance {
  background: #e66565;
}

.tags .insight {
  background: #9972e8;
}

.tags .mundane {
  background: #59b377;
}
